/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* CABEÇALHO */
.cabecalho{
    background-color: #4C4C4C;
    background-image: linear-gradient(black, #4C4C4C);
    display: flex;
    flex-direction: column;
}
@media (min-width: 600px) {
  .cabecalho{
    flex-direction: column-reverse;
  }
}
.cabecalho__logo{
    width: 60px;
    height: 60px;
    float: left;
}
.cabecalho__titulo{
    color: white;
    text-shadow: 0.5px 0.5px 1px black;
    font-size: 18px;
    text-align: left;
    padding: 30px;
  }
.cabecalho__subtitulo{
    color: #34e431;
    font-size: 10px;
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    float: right;
}
@media(min-width: 600px){
    .menu{
      flex-direction: row;
    }￼
}
.menu__item > a{
    padding: 15px;
    text-decoration: none;
    text-decoration-color: #34e431;
    color: white;
    display: block;
}
.menu__item > a:hover{
    text-decoration: underline;
    text-decoration-color: #34e431;
}


  /* MAIN */
.abrevia{
    background-color: #2E302E;
    height: 250px;
}
  .abrevia2{
    background-color: #595B59;
    height: 250px;
    
}
.abrevia__titulo{
    color: white;
    font-size: 26px;
}
.abrevia__texto{
    color: white;
    font-size: 14px;
    width: 560px;
}
.abrevia__gif{
    max-width: 400px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 20px;  
    border-radius: 5px;
    border: 2px #34e431 solid;
}
.abrevia__gif2{
    max-width: 400px;
    display: flex;
    flex-direction: row-reverse;
    float: left;
    margin-top: 7px;
    margin-right: 20px; 
    border-radius: 5px;
    border: 2px #34e431 solid;
}
.css__titulo{
    color: white;
    font-size: 26px;
}
.css__texto{
    color: white;
    font-size: 14px;
    width: 960px;
}
.acoes__titulo{
    color: white;
    font-size: 26px;
}
.acoes__texto{
    color: white;
    font-size: 14px;
    width: 560px;
}
.custom__titulo{
    color: white;  
    font-size: 26px;
}
.custom__texto{
    color: white;
    font-size: 14px;
    width: 1260px;
    margin-top: 30px;
}
.ide{
    background-color: #2E302E;
    padding: 50px;
}
.ide__titulo{
      font-size: 26px;
      color: white;
      text-align: center;
  }
.ide__imagem{
      width: 50px;
      margin: 20px 30px;
  }
.ide__imagens{
    display: flex;
    flex-wrap: unset;
    justify-content: center;
  }


/* RODAPÉ */
.rodape{
    background-color: black;;
}
.rodape__box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rodape__emmet-titulo{
    color: white;
    text-shadow: 0.5px 0.5px 1px black;
    font-size: 18px;
    text-align: left;
    padding: 50px 20px 50px;
}
.rodape__emmet-subtitulo{
    text-align: left;
    color: gray;
    font-size: 10px;
    padding: 5px 0;
}
.rodape__emmet-email{
    text-align: left;
    padding: 10px 0 5px 0;
    color: lightgray;
}

.rodape__blog{
    padding: 15px;
    font-size: 12px;
    color: white;
}
.rodape__blog-quebra{
    padding: 10px 0;
}
.rodape__redes{
    margin: 50px 0;
}
.rodape__imagens{
    padding: 3px;
    width: 35px;
    display: flex;
    flex-direction: row;
}

.rodape__imagens > a{
    text-decoration: none;
    display: block;
    padding: 5px;
}

}