/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* CABEÇALHO */
.cabecalho{
    background-color: #4C4C4C;
    background-image: linear-gradient(black, #4C4C4C);
    padding: 40px;
}

.utils{
    padding-top: 10px;
    overflow: hidden;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    height: 65px;
    margin-left: 30px;
    text-decoration: none;
}

.helper{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.cabecalho__titulo{
    display: inline-block; 
    font-family: 'Rubik Mono One', sans-serif;
    color: #fff;
    font-size: 22px;
    padding-left : 20px;
    vertical-align: middle;
}

.cabecalho__subtitulo{
    font-family: 'Roboto', sans-serif;
    color: #34e431;
    font-size: 10px;
}

.menu__selector{
    color: white;
    display: flex;
    float: right;
    vertical-align: middle;
    padding: 27px;
}

.menu{
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
}

@media(min-width:650px){
    .menu{
    margin-top: -60px;
    margin-right: 20px; 
    }
}
.disable{
    display: flex;
}

.menu__item > a{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 87px; 
    text-decoration: none;
    text-decoration-color: #34e431;
    color: white;
    display: block;
}

img{
    cursor: pointer;
}

.menu__item > a:hover{
    color: rgb(230, 230, 224);   
    text-decoration: underline;
    text-decoration-color: #34e431;
}

@media (min-width: 650px){
    .menu__selector{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: row;
        float: right;
    }
    .disable{
        display: flex;
    }
}

/* MAIN */
.abrevia{
    background-color: #2E302E;
    height: 350px;
}

  .abrevia2{
    background-color: #595B59;
    height: 350px;
}

.abrevia__titulo{
    padding-top: 80px;
    color: white;
    font-size: 26px;
    padding-left: 34px;
}

.abrevia__texto{
    color: white;
    font-size: 14px;
    max-width: 560px;
    margin-top: 30px;
    text-align: justify;
    display: block;
}

.abrevia__titulo2{
    padding-left: 292px;
    padding-top: 80px;
    color: white;
    font-size: 26px;
    margin-right: 20px;
}

.abrevia__texto2{
    color: white;
    font-size: 14px;
    width: 550px;
    text-align: justify;
    max-width: 560px;
    margin-top: 30px;
    margin-right: 10px;
}

.abrevia__gif{
    max-width: 400px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: -160px;
    margin-right: 30px; 
    border-radius: 5px;
    border: 1px #595B59 solid;
}

.abrevia__gif2{
    max-width: 400px;
    display: flex;
    flex-direction: row-reverse;
    /* float: left; */
    margin-top: 7px;
    margin-top: -170px;
    margin-left: 30px;
    border-radius: 5px;
    border: 1px #2E302E solid;
}

@media(max-width: 1050px) {
    .abrevia{
        height: 550px;
        display: flex;
        flex-direction: column;
    }
      .abrevia2{
        height: 550px;
        display: flex;
        flex-direction: column;
    }
    .abrevia__gif{
        max-width: 450px;
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .abrevia__gif2{
        max-width: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .abrevia__titulo{
        padding-top: 50px;
        color: white;
        font-size: 26px;
        margin: 0 auto;
        padding-left: 0;
    }
    .abrevia__texto{
        color: white;
        font-size: 14px;
        max-width: 450px;
        margin-top: 10px;
        text-align: justify;
    }
    .abrevia__titulo2{
        padding-left: 0;
        padding-top: 50px;
        color: white;
        font-size: 26px;
        margin: 0 auto;
    }
    .abrevia__texto2{
        color: white;
        font-size: 14px;
        max-width: 450px;
        margin-top: 10px auto;
        text-align: justify;
    }
}

@media(max-width: 600px) {
    .abrevia{
        height: 550px;
        display: flex;
        flex-direction: column;
    }
      .abrevia2{
        height: 550px;
        display: flex;
        flex-direction: column;
    }
    .abrevia__gif{
        max-width: 327px;
        display: block;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    .abrevia__gif2{
        max-width: 327px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
    .abrevia__titulo{
        padding-top: 50px;
        color: white;
        font-size: 26px;
        text-align: center;
    }
    .abrevia__texto{
        color: white;
        font-size: 14px;
        max-width: 327px;
        width: 440px;
        margin-top: 15px;
        text-align: justify;
    }
    .abrevia__titulo2{
        padding-left: 0;
        padding-top: 50px;
        color: white;
        font-size: 26px;
        text-align: center;
    }
    .abrevia__texto2{
        color: white;
        font-size: 14px;
        width: 440px;
        max-width: 327px;
        margin-top: 15px;
        text-align: justify;
    }
}

.ide{
    background-color: #2E302E;
    padding: 70px;  
}
.ide__titulo{
    font-size: 26px;
    color: white;
    text-align: center;
    margin-top: -20px;
    justify-content: center;
}
.ide__imagens{
    width: 105px;
  }

  @media(max-width: 600px) {
      .ide__imagens{
          width: 50px;
      }
  }

  .ide__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 250px;
    text-align: center;
    margin: 10px;
    border: 2px gray solid;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(89, 91, 89, 0.493);
}

@media(max-width: 600px) {
    .ide__card{
        width: 80px;
        height: 115px;
        padding: 0;
        padding-top: 12px;
    }
}

.ide__card:hover{
    background-color: rgb(80, 80, 80);
}

.ide__bloco{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px; 
}

.title__card {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px; 
  }
  @media(max-width: 600px) {
      .title__card{
          margin-top: 10px;
          font-size: 14px;
      }
  }

/* RODAPÉ */
.rodape{
    background-color: black;;
}

.rodape__box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rodape__emmet-titulo{
    color: white;
    text-shadow: 0.5px 0.5px 1px black;
    font-size: 22px;
    text-align: left;
    padding: 50px 20px;
}

.rodape__emmet-subtitulo{
    text-align: left;
    color: gray;
    font-size: 12px;
    padding: 5px 0;
}

.rodape__emmet-email{
    text-align: left;
    padding: 10px 0 5px 0;
    color: lightgray;
}

.rodape__redes{
    margin: 50px 20px;
}

.rodape__imagens{
    padding: 3px;
    width: 20%;
    display: flex;
    flex-direction: row;
}

.rodape__imagens > a{
    text-decoration: none;
    display: block;
    padding: 5px;
}

