/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* CABEÇALHO */
.cabecalho{
    background-color: #4C4C4C;
    background-image: linear-gradient(black, #4C4C4C);
    padding: 40px 20px;
}

.utils{
    padding-top: 10px;
    overflow: hidden;
}
.logo{
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    height: 65px;
    margin-left: 20px;
    text-decoration: none;
}
@media(max-width: 600px) {
    .logo{
        margin-left: 0;
    }
}
.helper{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.cabecalho__titulo{
    display: inline-block; 
    font-family: 'Rubik Mono One', sans-serif;
    color: #fff;
    font-size: 22px;
    padding-left : 5px;
    vertical-align: middle;
}
@media(max-width: 600px) {
    .cabecalho__titulo{
        padding-left: 5px;
    }
}

.cabecalho__subtitulo{
    font-family: 'Roboto', sans-serif;
    color: #34e431;
    font-size: 10px;
}

.menu__selector{
    color: white;
    display: flex;
    float: right;
    vertical-align: middle;
    padding: 27px;
}

.menu{
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

@media(min-width:650px){
    .menu{
    margin-top: -60px;
    margin-right: 30px;
    }
}
.disable{
    display: flex;
}
.menu__item > a{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 37px; 
    text-decoration: none;
    text-decoration-color: #34e431;
    color: white;
    display: block;
}
img{
    cursor: pointer;
}
.menu__item > a:hover{
    color: rgb(230, 230, 224);   
    text-decoration: underline;
    text-decoration-color: #34e431;
}

@media (min-width: 700px){
    .menu__selector{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: row;
        float: right;
    }
    .disable{
        display: flex;
    }
}

/* MAIN */
.abrevia{
    background-color: #2E302E;
    height: 400px;
}
.abrevia2{
    background-color: rgb(126, 126, 126);
    height: 400px;
}
.abrevia__titulo{
    color: white;
    font-size: 26px;
    padding-top: 110px;
    margin-left: 30px;
}
.abrevia__titulo2{
    color: white;
    font-size: 26px;
    padding-top: 110px;
    margin-right: 30px;
    float: right;
}

.abrevia__texto{
    margin-top: 10px;
    font-size: 16px;
    max-width: 560px;
    text-align: justify;
}

.abrevia__gif{
    max-width: 400px;
    margin-top: 80px;
    margin-right: 30px;
    border-radius: 10px;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: auto;
}
.abrevia__gif2{
    max-width: 400px;
    margin-top: 80px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: auto;
}

@media(max-width: 1050px) {
    .abrevia{
        height: 700px;
    }
    .abrevia2{
        height: 700px;
    }
    .box{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .abrevia__titulo{
        padding-top: 60px;
        text-align: center;
        margin: auto;
    }
    .abrevia__titulo2{
        padding-top: 60px;
        text-align: center;
        margin: auto;
    }
    .abrevia__texto{
        max-width: 800px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .abrevia__gif{
        max-width: 600px;
        margin: 60px auto;
    }
    .abrevia__gif2{
        max-width: 600px;
        margin: 60px auto;
    }
}

@media(max-width: 600px) {
    .abrevia{
        height: 520px;
    }
    .abrevia2{
        height: 520px;
    }
    .abrevia__titulo{
        padding-top: 60px;
        font-size: 20px;
    }
    .abrevia__titulo2{
        padding-top: 60px;
        font-size: 20px;
    }
    .abrevia__gif{
        max-width: 90%;
        margin-top: 30px;
    }
    .abrevia__gif2{
        max-width: 90%;
        margin-top: 30px;
    }
    .abrevia__texto{
        max-width: 90%;
        font-size: 14px;
    }
}

.ide{
    background-color: #2E302E;
    padding: 90px;  
}
.ide__titulo{
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: -20px;
}
@media(max-width: 600px) {
    .ide__titulo{
    font-size: 20px;
    }
}
.ide__imagens{
    width: 105px;
  }

  @media(max-width: 600px) {
      .ide__imagens{
          width: 50px;
      }
  }

  .ide__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 250px;
    text-align: center;
    margin: 10px;
    border: 2px gray solid;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(89, 91, 89, 0.493);
}

@media(max-width: 600px) {
    .ide__card{
        width: 70px;
        height: 105px;
        padding: 0;
        padding-top: 12px;
    }
}

.ide__card:hover{
    background-color: rgb(80, 80, 80);
}

.ide__bloco{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px; 
}

.title__card {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px; 
  }
  @media(max-width: 600px) {
      .title__card{
          margin-top: 10px;
          font-size: 12px;
      }
  }

/* RODAPÉ */
.rodape{
    background-color: black;
    padding: 50px 0;
}

.rodape__box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -15px;
}
.keycdn__logo{
    margin-left: 18px;
}
.rodape__emmet-titulo{
    color: white;
    text-shadow: 0.5px 0.5px 1px black;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
}
@media(max-width: 600px) {
    .rodape__emmet-titulo{
            margin-left: 20px;
    }
}

.rodape__emmet-subtitulo{
    text-align: left;
    color: gray;
    font-size: 12px;
    padding: 5px 0;
}

.rodape__emmet-email{
    text-align: left;
    padding: 10px 0 5px 0;
    color: lightgray;
}

.rodape__imagens{
    padding: 3px;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.rodape__imagens > a{
    text-decoration: none;
    display: block;
    padding: 5px;
}

.rodape__blog{
    font-size: 14px;
    color: gray;
    padding: 0 150px;
}
@media(max-width: 1050px) {
    .rodape__blog{
        padding: 0;
    }
}
@media(max-width: 700px){
    .rodape__blog{
        display: none;
    }
}
.rodape__blog--titulo{
    margin-bottom: 20px;
}
.rodape__blog--forum > a:visited{
    color: lightgreen;
}
.rodape__blog--data{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    font-style: italic; 
}
.rodape__blog--data > a{
    text-decoration: none;
    color: gray
}
.rodape__blog--data > a:visited{
    color: lightgreen;
}
.rodape__blog--data > a:hover{
    color: white;
}
.rodape__blog--forum > a{
    text-decoration: none;
    color: rgb(216, 216, 216);
}
.rodape__blog--forum > a:hover{
    color: white;
}

